.container {
    position: relative;
    display: block;
    padding: 0 calc(3.5vw + 5px);
    top: 72px;
    min-height: calc(100vh - 250px);
    overflow: hidden;
}

.background {
    left: 0px;
    opacity: 0.8;
    img {

    }

}

.imge-title {


    img {

    }
}

.content-meta {

}

.controls {

}

.player {

    img {

    }

    &:hover {

    }

    @media (max-width: 768px) {

        img {

        }
    }
}

.trailer + .player {

}

.add-list {

    span {

    }

    &:first-child {

    }

    &:nth-child(2) {

    }
}

.group-watch {

    div {

    }

    img {

    }
}

.sub-title {

}

.description {


    @media (max-width: 768px) {
        
    }
}










